[submodule "Frameworks/Foundation"]
	path = Frameworks/Foundation
	url = git@github.com:Nocross/AAIFoundation.git
	branch = master
[submodule "Frameworks/CoreData"]
	path = Frameworks/CoreData
	url = git@github.com:Nocross/AAICoreData.git
	branch = master
[submodule "Frameworks/UIKit"]
	path = Frameworks/UIKit
	url = git@github.com:Nocross/AAIUIKit.git
	branch = master
